body{
    margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.main,
.menu-alumno {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 30%;
}

.container > .alumno a,
.container > .encargado a {
  align-items: center;
  display: flex;
  flex: 1;
  height: 60px;
  justify-content: center;
  padding: 0 20px;
}

.container > .alumno:hover,
.container > .encargado:hover {
  border-radius: 3px;
  background-color: #eeeeee;
}

.menu-alumno {
  flex-direction: column;
}

h3 {
  color: #333333;
}

.listado-cursos{
    display: flex;
    justify-content: center;
}

.listado {
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.listado th,
.listado td {
  text-align: center;
}

.listado td {
  padding: 10px;
}

.listado .heading {
  height: 40px;
}

.listado .inscribir {
  background-color: #a2ffb6;
}

.listado .inscribir:hover {
  background-color: #6cff8c;
}

.listado button, input[type=submit]{
  background-color: #2043e0;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
}

.listado button:hover, input[type=submit]:hover {
  background-color: #0027d6;
}

.login {
    flex-direction: column;
    width: 15%;
}

.login .inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.login.admin {
    width: 20%;
}

header {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    height: 60px;
    padding: 10px 30px;
    align-items: center;
}

header ul {
    justify-content: space-around;
    display: flex;
    flex: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
header li{
    height: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 3px;
    cursor: pointer;
}

header .header-label{
    flex: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

header .header-name{
    margin-right: 20px;
    font-weight: 600;
}

header .header-exit{
    border-radius: 3px;
    color: #ffffff;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fd4545;
}

header .header-exit:hover{
    background-color: #ca0f0f;
}

.title{
    display: flex;
    justify-content: center;
}